:root {
  --global-font : 15px/1.4 Arial, Helvetica, sans-serif;
  --custom-dark-grey: #35424a;
  --custom-dark-grey-w-opacity: rgba(53, 66, 74, 0.85);
  --custom-light-grey: #f4f4f4;
  --custom-orange: #e8491d;
  --custom-orange-w-opacity: rgba(232, 73, 28, 0.9);

  --custom-blue: #7da4db;
  --button-blue:  #669999;
  --button-blue-hover: #527a7a;
  --input-field-color: #d8dedf;
  --input-font-color: #67757e;
  --input-field-hover: #e3e6e8;
  --form-bg: #eceeef;
  --form-radius: 25px;
  --bg-color: var(--custom-dark-grey-w-opacity);

  --header-bg-color: var(--custom-dark-grey-w-opacity);
  --header-font-color: #ffffff;
  --header-border: var(--custom-orange) 3px solid;

  --footer-bg-color: var(--custom-orange);
  --footer-font-color: #ffffff;
  --footer-border: var(--custom-dark-grey) 3px solid;
}

html {
  font: 15px/1.4 Arial, Helvetica, sans-serif; }

body {
  padding: 0;
  margin: 0;
  background: var(--bg-color);
  margin-left: 10px;
  margin-right:10px;}

section#main {
    margin-top: 0px;
    padding-bottom: 50px;
    background: var(--custom-light-grey);
}

.container-main {
    width: 80%;
    margin: 0px auto;
    padding-bottom: 50px;
}

.error-msg {
    margin: 50px auto;
    text-align: center;
    padding: 25px;
    width:100%;
    background-color: #cc4444b3;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 1.3em;
}
.success-msg {
    margin: 50px auto;
    text-align: center;
    padding: 25px;
    width: 100%;
    background-color: #2d8c2de6;
    color: white;
    box-sizing: border-box;
    border-radius: 15px;
    font-size: 1.3em;
}


/* various classe used for changing position/display of elements */
.block {
    display: block;
}
.inline-block {
    display: inline-block;
}
.margin-center {
    margin: 0px auto;
    justify-content: center;
}
.flex {
    display: flex;
}
.flex-row-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.flex-row-nowrap {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.flex-col-wrap {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.flex-col-nowrap {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}
/* end display classes */


/* class for setting various properties related to width */

.minw-80px {
    min-width: 80px;
}
.minw-100px {
    min-width: 100px;
}
.minw-200px {
    min-width: 80px;
}
.minw-400px{
    min-width: 400px;
}
.maxw-100px {
    max-width: 100px;
}
.maxw-200px {
    max-width: 200px;
}
.maxw-400px {
    max-width: 400px;
}
.maxw-800px {
    max-width: 800px;
}
.w-50{
    width: 50%;
}
.w-60{
    width: 60%;
}
.w-70{
    width: 70%;
}
.w-80{
    width: 80%;
}
.w-90{
    width: 90%;
}
.w-100{
    width: 100%;
}
/* end widthproperties */



/* login and sign-up form styling */

.form {
    background: var(--form-bg);
    border-radius: var(--form-radius);
    font-family: Georgia, "Times New Roman", Times, serif;
}

.login-form {
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 50px auto;
    display: grid;
    grid-template-columns: 1fr 300px 1fr;
}

.registration-form {
    width: 80%;
    max-width: 600px;
    padding: 10px 20px;
    margin: 50px auto;
}

.login-form legend, .registration-form legend {
    font-size: 1.4em;
    margin: 20px auto;
}
.registration-form legend {
    text-align: center;

}
.login-form legend {
    grid-column: 2 /span 1;
}

.form fieldset {
    border: none;
    padding: 10px 10px;
    margin: 10px auto;
}

.login-form fieldset {
    grid-column: 2/span 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.registration-form fieldset {
    display: grid;
    grid-row-gap: 15px;
    grid-column-gap: 5px;
    grid-template-columns: 200px 1fr;
}
.registration-form label {
    grid-column: 1 / span 1;
    font-size: 17px;
    width: 150px;
    /* text-align: right; */
    margin-right: 0;
}
.registration-form input, .registration-form select {
    grid-column: 2 / span 1;
}

fieldset input, fieldset select, fieldset label {
    margin: 15px auto;
    padding: 5px;
    width: 90%;
    max-width: 300px;
    font-size: 17px;
    font-family: Georgia, "Times New Roman", Times, serif;
    box-sizing: border-box;
}

.form-title {
    text-align: center;
    margin-top: 0;
    padding-top: 50px;
}

.login-form input, .registration-form input, .registration-form select {
    border: none;
    border-radius: 4px;
    outline: 0;
    background-color: var(--input-field-color);
    color: var(--input-font-color);
    box-shadow:0 2px 0 rgba(0,0,0,0.03) inset;
}

.form input[type="submit"] {
    padding: 7px 15px;
    color: #FFF;
    margin: 30px auto 10px;
    background: var(--button-blue);
    text-align: center;
    font-style: normal;

    border: solid #006666;
    border-width: 1px 2px;

}

.login-form input[type="submit"]{
    min-width: 100px;
    width: 35%;
}
.registration-form input[type="submit"]{
    grid-column: 1 / span 2;
    min-width: 120px;
    width: 20%;
}

.form input[type="submit"]:hover{
    background: var(--button-blue-hover);
}

.form input:focus{
     background: var(--input-field-hover);
}

.terms-of-service, .forgot-password {
  font-size: 0.85em;
  text-align: center;
  max-width: 100px;
  margin: -10px auto 30px;
}

.terms-of-service {
    color: red;
    grid-column: 1 / span 2;
}

/* end form styling*/




/* profile page styling */
.profile-page {
    width: 100%;
    max-width: 1000px;
    display: grid;
    grid-gap: 20px;
    margin: 0px auto;
    padding: 30px 10px;
    background: var(--custom-light-grey);
}

.profile-info {
    grid-column: 1 / span 1;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;

    padding: 30px 20px;
}

.profile-info > * {
    margin: 3px 10px;
}
.profile-info > h3 {
    font-size: 1.2em;
}

.profile-pic {
    width: 80%;
    max-width: 200px;
    margin-bottom: 30px;
}
.achievements {
    grid-column: 2/ span 3;
    display: flex;
    flex-flow: column;
    flex-wrap: nowrap;
}
.achievements > .section {
    margin: 20px 0px;
    padding: 20px 10px;
    border-radius: 15px;

}
.section-title {
    font-size: 1.2em;
    font-weight: bold;
    border-bottom: 2px solid black;
    margin: 5px 5px;
}
.section-content {
    /* border: 1px dashed grey; */
    padding: 15px 10px;
}
.badge {
    width: 64px;
}
.ratings .rating {
    margin: 2px 5px;
}
.section-content p {
    margin: 3px 5px;
    padding: 3px 5px;
}
.profile-page .field-name {
    font-size: 1.05em;
    color: #75a3a3;
}
.profile-page .field-value {
    padding-left: 10px;
    font-size: 1.05em;

}
.ratings .points-scored {
    padding-left: 10px;
    font-weight: bold;
    color: #009933;
}
.personal-info .country-flag {
    width: 24px;
}


/* end */

a {
  text-decoration: none;
 }
ul {
  list-style: none;
}
.custom-button {
  margin: 0;
  padding: 4px 3px 4px 4px;
  text-align: center;
  min-width: 80px;
  max-width: 200px;
  border-radius: 6px;
 }

header {
  background: var(--header-bg-color);
  color: #ffffff;
  border-bottom: var(--header-border);
  font-weight: bold;
  overflow: hidden;
  padding-top: 30px;
  min-height: 70px;
}

  header div#logo {
    font-size: 1.7em;
    padding-bottom: 20px;
    margin-left: 20px;
    }
    header div#logo .highlight {
      color: var(--custom-orange);
      }
  header .main-nav ul {
    margin-bottom: 20px;
    }
    header .main-nav ul li {
      font-size: 1em;
      margin-left: 20px;
      margin-right: 20px;
  }
    header .main-nav ul li a {
      color: #ffffff;
  }
  header .button-basic a:hover {
    color: var(--custom-orange);
}
  header .button-special {
    background-color: var(--custom-orange);
    opacity: 0.95;
}
  header .button-special:hover {
    opacity: 0.8;
}

footer {
  background: var(--custom-orange-w-opacity);
  color: #ffffff;
  border-top: var(--custom-dark-grey) 3px solid;
  padding-bottom: 30px;
  margin-bottom: 0px;
  min-height: 70px;
}
  footer .footer-nav ul {
    list-style: none;
    align-content: center;
    }
    footer .footer-nav ul li a {
      color: var(--custom-light-grey);
      }
    footer .footer-nav ul li a:hover {
      color: var(--custom-dark-grey);
      }
  footer p {
    text-align: center;
    }

body {
  margin: 0;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-form {
    display: flex;
    overflow: inherit;
    border-radius: 5px;
}
.form-container .search-form {
    margin-top: 10px;
}
.form-container .search-bar {
    height: 30px;
    width: 300px;
}

header .search-form {
    max-width: 250px;
    border: 3px solid #282e39;
}
.search-bar {
    padding: 5px 5px;
    border: none;
    color: white;
}
header .search-bar {
    background-color: #282e39;
    min-height: 20px;
    max-width: 150px;
}
.search-button {
    border: none;
}
header .search-button{
    background-color: #25292f;
}


.search-results {
    margin-top: 50px;
    margin-bottom: 50px;
}
.search-results .result {
    margin: 20px auto;
    max-width: 1000px;
    width: 60%;
    min-width: 400px;
    padding: 30px;
    border-radius: 10px;
    background-color: #edededcc;
}

/* styling user submissions */

.submissions-container {
    padding: 50px 0px 50px;
}
.submission {
    width: 80%;
    margin: 0px auto 60px;
    padding: 10px 20px;
    min-width: 500px;
    font-size: 1.2em;
}
.submission .title {
    font-size: 1.25em;
    margin-top: 10px;
    margin-bottom: 5px;
}
.submission .author {
    margin-top: 5px;
    margin-left: 20px;
}
.submission .text {
    width: 80%;
    margin: 20px auto 30px;
}
.control-buttons {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.control-buttons > button {
    height: 20px;
    width: 80px;
    padding: 5px 7px;
    margin: 5px 3px;
    box-sizing: content-box;
    color:white;
    border: 2px solid;
    border-radius: 8px;
}
.control-buttons button[name="decline"]{
    background-color: #cc4444;
}
.control-buttons button[name="accept"]{
    background-color: #2d8c2d;
}

/* end user sumbission styling */

/* CSS Grid properties */

header {
  display: grid;
  grid-template-columns: 300px auto 1fr;
 }
  header div#logo {
    grid-column: 1 / span 1;
    max-width: 300px;
  }
  header nav {
    grid-column: 3 / span 1;
    display: flex;
    justify-content: flex-end;
     }
    header nav ul {
        display: flex;
        align-items: flex-end;
      }

footer {

  }
  footer .footer-nav ul {

    display: flex;
    flex-flow: row;
    justify-content: center;
    align-content: space-between;
    }
    footer .footer-nav ul li {
      margin-left: 10px;
      margin-right: 10px;
      }

@media(max-width: 800px){
    header {
      display: grid;
      grid-template-rows: minmax(auto, 100px) minmax(auto, 100px);
      font-size:14px;
    }
    header div#logo {
      grid-row: 1;
      align-self: center;
      justify-self: center;
      padding: 0;
    }
    header nav {
      grid-row: 2;
      padding: 0;
      margin: 0;
    }
    header nav ul {
      display: flex;
      flex-wrap: wrap;
      align-content: center;
      justify-content: center;
    }
    header .main-nav ul li {
      font-size: 0.9em;
      margin-left: 5px;
      margin-right: 5px;
    }
}
