:root {
  --global-font : 15px/1.4 Arial, Helvetica, sans-serif;

  --custom-dark-grey: #35424a;
  --custom-dark-grey-w-opacity: rgba(53, 66, 74, 0.85);
  --custom-light-grey: #f4f4f4;
  --custom-orange: #e8491d;
  --custom-orange-w-opacity: rgba(232, 73, 28, 0.9);

  --custom-blue: #7da4db;

  --bg-color: var(--custom-dark-grey-w-opacity);

  --header-bg-color: var(--custom-dark-grey-w-opacity);
  --header-font-color: #ffffff;
  --header-border: var(--custom-orange) 3px solid;

  --footer-bg-color: var(--custom-orange);
  --footer-font-color: #ffffff;
  --footer-border: var(--custom-dark-grey) 3px solid;

}
